{*
* Shop System Plugins - Terms of use
*
* This terms of use regulates warranty and liability between Wirecard
* Central Eastern Europe (subsequently referred to as WDCEE) and it's
* contractual partners (subsequently referred to as customer or customers)
* which are related to the use of plugins provided by WDCEE.
*
* The Plugin is provided by WDCEE free of charge for it's customers and
* must be used for the purpose of WDCEE's payment platform integration
* only. It explicitly is not part of the general contract between WDCEE
* and it's customer. The plugin has successfully been tested under
* specific circumstances which are defined as the shopsystem's standard
* configuration (vendor's delivery state). The Customer is responsible for
* testing the plugin's functionality before putting it into production
* enviroment.
* The customer uses the plugin at own risk. WDCEE does not guarantee it's
* full functionality neither does WDCEE assume liability for any
* disadvantage related to the use of this plugin. By installing the plugin
* into the shopsystem the customer agrees to the terms of use. Please do
* not use this plugin if you do not agree to the terms of use!
*}


{if $LIGHTBOX == 'true'}<div id="lightbox_content" style="display:none">{/if}
    <div class="order_confirm{if $LIGHTBOX == 'true'} lightbox_block{/if}">
        <h1>
            {$CHECKOUT_TITLE}
        </h1>
    
        {$FORM_ACTION}
    
        <div id="content_wirecard_checkout_page">
            <div class="heading_success">
                {$CHECKOUT_HEADER}
            </div>
            <div class="content">
                {$CHECKOUT_CONTENT}
            </div>
            {if $IFRAME != 'true'}
                
                
            <div class="row">
                {if !$NC_SUCCESS_INFO}
                    {if $FORM_ACTION == ''}
                        <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9 text-right continue_button"><a href="shopping_cart.php" class="btn btn-primary btn-block">{$BUTTON_CONTINUE}</a></div>
                    {else}
                        <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9 text-right continue_button"><input type="submit" class="btn btn-primary btn-block" value="{$BUTTON_CONTINUE}"></div>
                    {/if}
                {/if}
            </div>
            {/if}
            {$FORM_END}
        </div>
    </div>
{if $LIGHTBOX == 'true'}
    <a href="{$LIGHTBOX_CLOSE}" class="icon_lightbox_close_checkout button_close_lightbox" title="{$BUTTON_CLOSE}">{$BUTTON_CLOSE}</a>
</div>
{/if}
