{load_language_text section="checkout_payment"}

<ul class="list-group" data-gambio-widget="radio_selection" data-radio_selection-init="true">
    {foreach name=aussen item=module_data from=$module_content}
    <li class="list-group-item {$module_data.id}{if $module_data.id === 'paypal3' && $module_data.module === ''}-plus{/if}" {if $module_data.id === 'paypal3' && $module_data.module === ''}data-gambio-widget="paypal_checkout" data-paypal_checkout-third-party-payments-block="{get_paypal_third_party_payments_block|escape}"{/if}>
    <div class="row">
        <div class="{if $module_data.id == 'paypal3' && $module_data.module == ''}col-xs-12{else}col-xs-6 col-md-{if $module_data.fields != '' && $module_data.fields|@count > 0}5{else}9{/if}{/if} title radio  payment_item button_checkout_module">
            <label>
                {$module_data.selection}
                <strong>{$module_data.module}</strong>
            </label>
        </div>
        {if $module_data.id|strpos:'wcs_' === 0 }
            {if $module_data.fields != '' && $module_data.fields.0.title == '' && $module_data.fields|@count === 1}
                {$module_data.fields.0.field|replace:"class=\"gm_class_input\"":"class=\"form-control input-sm\" placeholder=\"$label\""|replace:"style=\"width:200px\"":""}
            {elseif $module_data.fields != '' && $module_data.fields|@count > 0}
            <div class="col-xs-12 col-md-7 checkout-payment-form">
                <div class="well">
                    {foreach name=aussen item=method_data from=$module_data.fields}
                    {if $method_data.title && $method_data.title != ''}
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-md-4">{$method_data.title}</label>

                            {assign var="label" value=$method_data.title|replace:":":""}
                            <div class="col-xs-12 col-md-8">
                                {$method_data.field|replace:"class=\"gm_class_input\"":"class=\"form-control input-sm\" placeholder=\"$label\""|replace:"style=\"width:200px\"":""}
                            </div>
                        </div>
                    {else}
                        {$method_data.field|replace:"class=\"gm_class_input\"":"class=\"form-control input-sm\" placeholder=\"$label\""|replace:"style=\"width:200px\"":""}
                    {/if}
                    {/foreach}
                </div>
            </div>
            {/if}
        {else}
            {if $module_data.fields != '' && $module_data.fields.0.title != '' && $module_data.fields|@count > 0}
            <div class="col-xs-12 col-md-7 checkout-payment-form">
                <div class="well">
                    {foreach name=aussen item=method_data from=$module_data.fields}
                    <div class="form-group">
                        {if $method_data.title && $method_data.title != ''}
                        <label class="control-label col-xs-12 col-md-4">{$method_data.title}</label>
                        {/if}

                        {assign var="label" value=$method_data.title|replace:":":""}
                        <div class="col-xs-12 col-md-8">
                            {$method_data.field|replace:"class=\"gm_class_input\"":"class=\"form-control input-sm\" placeholder=\"$label\""|replace:"style=\"width:200px\"":""}
                        </div>
                    </div>
                    {/foreach}
                </div>
            </div>
            {/if}
        {/if}
        <div class="col-xs-6 {if $module_data.id != 'paypal3' && $module_data.module != ''}col-md-{if $module_data.fields != '' && $module_data.fields|@count > 0}7{else}3{/if}{/if} price text-right">
            <p>{$module_data.module_cost}</p>
        </div>

    </div>
    </li>
    {/foreach}
</ul>