{*
* Shop System Plugins
* - Terms of use can be found under
* https://guides.qenta.com/shop_plugins:info
* - License can be found under:
* https://github.com/qenta-cee/gambio-qcs/blob/master/LICENSE
*}


{if $LIGHTBOX == 'true'}<div id="lightbox_content" style="display:none">{/if}
    <div class="order_confirm{if $LIGHTBOX == 'true'} lightbox_block{/if}">
        <h1>
            {$CHECKOUT_TITLE}
        </h1>
    
        {$FORM_ACTION}
    
        <div id="content_qenta_checkout_page">
            <div class="heading_success">
                {$CHECKOUT_HEADER}
            </div>
            <div class="content">
                {$CHECKOUT_CONTENT}
            </div>
            {if $IFRAME != 'true'}
                
                
            <div class="continue">
                {if !$NC_SUCCESS_INFO}
                    {if $FORM_ACTION == ''}
                        <div class="continue_button" style="float: right;"><a href="shopping_cart.php" class="button_green_big button_set_big"><span class="button-outer"><span class="button-inner"><img class="png-fix" src="{$tpl_path}img/icons/icon-white-shoppingcart.png" alt="" style="margin-right:10px; float:left" />{$BUTTON_CONTINUE}</span></span></a></div>
                    {else}
                        <div class="continue_button" style="float: right;"><a href="#" class="button_green_big button_set_big action_submit"><span class="button-outer"><span class="button-inner"><img class="png-fix" src="{$tpl_path}img/icons/icon-white-shoppingcart.png" alt="" style="margin-right:10px; float:left" />{$BUTTON_CONTINUE}</span></span></a></div>
                    {/if}
                {/if}
            </div>
            {/if}
            {$FORM_END}
        </div>
    </div>
{if $LIGHTBOX == 'true'}
    <a href="{$LIGHTBOX_CLOSE}" class="icon_lightbox_close_checkout button_close_lightbox" title="{$button.close}">{$BUTTON_CLOSE}</a>
</div>
{/if}
